# For MySQL
DB_DATABASE="digestpipe"
DB_USERNAME="digestpipe"
DB_PASSWORD="digestpipe"
DB_ROOT_PASSWORD="root"
FORWARD_MYSQL_PORT=3306

# For Nginx
FORWARD_NGINX_PORT=8080

# For Valkey
FORWARD_VALKEY_PORT=6379

# For MinIO
FORWARD_MINIO_SERVICE_PORT=9000
FORWARD_MINIO_CONSOLE_PORT=9001
